# Mac OS.
.DS_Store
*.tmp

# Local configuration.
local.properties

# Android Studio.
*.iml
.gradle/
.idea/
build/

!.idea/gradle.xml
!.idea/runConfiguretions/*
!.idea/.name

EmojidexAndroid*.apk
manifest-merger-release-report.txt
