<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emojidex.emojidexandroid"
    android:installLocation="auto" >

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <!-- android:debuggable="false" -->

        <activity
            android:name="com.emojidex.emojidexandroid.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustResize" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.emojidex.emojidexandroid.SettingsActivity"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name="com.emojidex.emojidexandroid.ProxyActivity"
            android:label="emojidex"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <service
            android:name="com.emojidex.emojidexandroid.EmojidexIME"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_INPUT_METHOD">

            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data android:name="android.view.im" android:resource="@xml/method" />
        </service>

    </application>

</manifest>
